* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
    background-color:#34495e;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(22, 160, 133),
    rgba(40, 180, 133, 0.8)
  );
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 67%);
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #dfe6e9;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px #2f3640;
  padding-top: 15%;
  margin-bottom: 5px;
  font-size: 4rem;
  font-family: "Staatliches", cursive;
}

.img {
  width: 12%;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0 0 10px #ecf0f1;
  margin-left: 44%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.header-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #dfe6e9;
}

.header i {
    display: flex;
  flex-direction: row;
  justify-content: center;
    text-align: center;
  color: #2f3542;
  margin: 2px;
}

.header i:hover,
active {
  color: #ffb142;
}

.header-about {
  margin: 200px 50px;
  margin-top: 50px;
  color: #dfe6e9;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .header-about {
    margin: 50px;
  }
}

.section-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
    to left bottom,
    rgba(#2c3e50),
    rgba(#2980b9)
  );
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
  padding-top: 50px;
}

.section-skill__icons {
  color:#e67e22;
  text-shadow: 2px 3px #f1c40f;
  font-size: 10rem;
  margin: 50px 50px;
}

.projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #dcdde1;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #2f3542;
}

/* Projects */

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
  width: 100%;
  background: #dcdde1;

  text-align: center;
  background: #d2dae2;
}

.a {
  background: #dcdde1;
}
.b {
  background: #dcdde1;
}

.project-one__title {
  font-size: 4rem;
}

.project-img {
  width: 30%;
  height: auto;
  display: inline-block;
}

#arrow {
  font-size: 3rem;
  color: white;
}
