* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #34495e;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #30336b, #222f3e);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #dfe6e9;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px #2f3640;
  padding-top: 15%;
  margin-bottom: 5px;
  font-size: 4rem;
  font-family: "Bungee Shade", cursive;
}

@media only screen and (max-width: 400px) {
    .header-title {
      font-size: 6vw;
    }
    .header-subtitle {
        font-size: 2.8vw;
    }
  }

.header-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #dfe6e9;
}

.header i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #fc427b;
  margin: 2px;
  text-decoration: none;
}

.header i:hover,
active {
  color: #b33771;
  text-decoration: none;
}

.header-about {
  margin: 200px 50px;
  margin-top: 50px;
  color: #dfe6e9;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .header-about {
    margin: 50px;
  }
}

@media only screen and (max-width: 400px) {
    .header-about {
      margin: 50px;
      font-size: 3.5vw;
    }
  }


.section-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(
    to left bottom,
    rgba(#2c3e50),
    rgba(#2980b9)
  );
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
  padding-top: 50px;
}

.section-skill__icons {
  color: #ecf0f1;
  /* text-shadow: 2px 3px #400ff1; */
  font-size: 10rem;
  margin: 50px 50px;
}

.img_skill {
  width: 5px;
  /* margin: 50px 50px; */
  /* display: inline-block; */
}

.projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #dcdde1;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #2f3542;
}

/* Projects */

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
  width: 100%;
  background: #dcdde1;

  text-align: center;
  background: #d2dae2;
}

.project-list-first {
  background: #dcdde1;
  padding-top: 50px;
}
.project-list-second {
  background: #dcdde1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: inline;
}

.project-one__title {
  font-size: 2vw;
}

@media only screen and (max-width: 700px) {
    .project-one__title {
        font-size: 6vw;
    }
  }

.project-img {
  padding-top: 50px;

  width: 35%;
  height: auto;
  display: inline-block;
  
}

.laptop {
  padding-top: 50px;
    width: 50%;
}

@media only screen and (max-width: 700px) {
    .laptop {
        width: 50vw;
    }
    .project-img {
        width: 50vw;
    }
  }

